<div class = "border">
  <div class = "container">
    <label for="uname"><b>codice di sicurezza</b></label>
    <input type="password" placeholder="inserisci codice di sicurezza" name="uname" required  #codicesicurezza>

    <label for="uname"><b>nuova password</b></label>
    <input type="password" placeholder="inserisci la nuova password" name="uname" required  #newPassword>

    <label for="uname"><b>conferma password</b></label>
    <input type="password" placeholder="conferma la password" name="uname" required  #passwordConfirm>

    <button (click) = "submit(codicesicurezza, newPassword, passwordConfirm)" routerLink="/login" routerLinkActive="active">modifica password</button>
  </div>
</div>
