p{
  text-align: justify;
}

.center{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.infomation{
  border-radius: 10px;
  background-color: #3C7A89;
  margin-left: 10px;
  margin-bottom: 10px;
  width: auto;
  padding: 10px;
  justify-content: center;
}

.content{
  border-radius: 10px;
  background-color: #98e2c6;
  margin-left: 10px;
  margin-bottom: 10px;
  width: auto;
  padding: 10px;
  justify-content: center;
}
.content p
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a{
  color : white;
  text-decoration: none;
}

.imgContainer
{
  text-align: center;
}

button {
  background-color: #3C7A89;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
button:hover {
  opacity: 0.8;
}


.signinbtn {
  width: auto;
  margin-right: 5px;
  padding: 10px 18px;
  background-color: #3C7A89;
}
