<div class = "border" *ngIf = "!conferma">
  <div class = "container">
    <label for="uname"><b>email</b></label>
    <input type="email" placeholder="inserisci l'email" name="uname" required  #email>

    <label for="uname"><b>codice di sicurezza</b></label>
    <input type="password" placeholder="inserisci codice di sicurezza" name="uname" required  #cod>

    <label for="uname"><b>nuova password</b></label>
    <input type="password" placeholder="inserisci la nuova password" name="uname" required  #newPassword>

    <label for="uname"><b>conferma password</b></label>
    <input type="password" placeholder="conferma la password" name="uname" required  #passwordConfirm>

    <button (click) = "submit(email, cod, newPassword, passwordConfirm)"></button>
  </div>
</div>
<div *ngIf = "conferma">
  <button routerLink="/home" routerLinkActive="active">vai alla home</button>
</div>
