<div class = "border">
  <div class = "container">
    <p>Ti verrà inviato un codice di sicurezza sull' indirizzo e-mail usato al momento della registrazione, inserisci il codice di sicurezza nella successiva form nel campo specificato per poter verificare la tua identità. </p>
    <p>Se non ricevi nessuna e-mail è probabile che hai inserito l'indirizzo e-mail sbagliato, in tal caso controlla l'indirizzo e-mail inserito e riprova.</p><p><b> Ricorda devi usare l'indirizzo con il quale ti sei registrato!</b></p>
    <label for="uname"><b>E-Mail</b></label>
    <input type="email" placeholder="inserisci l'e-mail" name="uname" required  #email>
    <button class="signinbtn" (click) = "submit(email)" routerLink="/changeForg" routerLinkActive="active">Richiedi recupero password</button>
  </div>
</div>
