.container
{
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  width: 100%;
}


.sidenav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #0B005D;
  height: 100vh;
  overflow: auto;
  transition: ease-in-out all 0.5s;
}

.sidenav .img
{
  width: 100%;
  height: 15vh;
  background-image: url("/assets/logo/logo_large(1).png");
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0;
}


.sidenav li a {
  display: block;
  color: #f3e8ee;
  padding: 8px 16px;
  text-decoration: none;
  transition: ease-in-out all 0.5s;
}

.sidenav li a.active {
  background-color: rgb(30, 67, 167);
  color: white;
}

.sidenav li a:hover:not(.active) {
  background-color: rgb(30, 67, 167);
  color: white;
}

.close
{
  width: 5%;
  transition: ease-in-out all 0.5s;
}

.close li
{
  display: none;
  transition: ease-in-out all 0.5s;
}

.sidenav button
{
  background-color: transparent;
  border: none;
  font-size:2rem;
  color: #f3e8ee;
}



.content{
  width: 100%;
}
