
.map-container {
  width: auto;
  height: 495px;
  margin-left: 10px;
  margin-top: 5vh;
  margin-bottom: 10px;
  border-radius: 25px;
}

.map-box
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.mapboxgl-ctrl-geocoder {
    min-width: 100%;
    outline: none;
}
#map {
    margin-top: 15px;
}
p{
  text-align: justify;
}

.infomation{
  border-radius: 25px;
  background-color: #F3E8EE;
  margin-left: 10px;
  margin-bottom: 10px;
  width: auto;
  padding: 10px;
  justify-content: center;
}


.infomation p
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.imgContainer
{
  text-align: center;
}

button {
  background-color: #3C7A89;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 50px;
}
button:hover {
  opacity: 0.8;
}


.signinbtn {
  width: auto;
  margin-right: 5px;
  padding: 10px 18px;
  background-color: #3C7A89;
}
