.border {
  border: 3px solid rgb(30, 67, 167);
  border-radius: 10px;
  width:500px;
  height: 400px;
  position:absolute;
  top:35%;
  left:52%;
  margin:-100px 0 0 -100px;
}

input[type=text], input[type=password], input[type=email] {

  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgba(91, 187, 216, 0.658);
  box-sizing: border-box;
}

button {
  background-color: rgb(30, 67, 167);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.signinbtn {
  width: auto;
  padding: 10px 18px;
  background-color: rgb(30, 67, 167);
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: rgb(168, 0, 0);
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 900px) {
  .border {
  border: 3px solid rgb(30, 67, 167);
  border-radius: 10px;
  width:500px;
  height: 400px;
  position:absolute;
  top:30%;
  left:35%;
  margin:-100px 0 0 -100px;
  }
  span.psw {
     display: block;
     float: none;
  }
}
