<div *ngIf = "!loading">
  <div class = 'center'>
    <img src="https://dati.salutepiemonte.it/im/loader.gif" alt="" height="15%" width="15%">
  </div>

</div>
<div *ngIf = "loading">
    <div class = "infomation" >
    <ng-image-slider [images]="imageslist" #nav></ng-image-slider>

  </div>
  <div class = "infomation" >
    <p>{{resPlace.Descrizione}}</p>
  </div>
  <div class = "infomation">
    <h4>Prenota il tuo viaggio!</h4>
    <p>
      <a href="https://www.booking.com/" target="_blank" rel="noopener noreferrer"><img src="/assets/Booking_logo.png" alt=""></a>
      <a href="https://www.skyscanner.com/" target="_blank" rel="noopener noreferrer"><img src="/assets/Skyscanner-Logo.png" alt="" ></a>
    </p>
  </div>
  <div class = "infomation" >
    <button (click)="back()">Torna indietro</button>
  </div>
</div>

